
/* Main content area */
.blog-post {
  width: 100%;
  background: #fff674;
  text-align: center;
}

/* Post title */
.blog-post h1 {
  font-size: 24px;
  color: #333;
  /* padding-bottom: 10px; */
  /* margin-bottom: 20px; */
}

/* Post image styles */
.blog-post-img {
  max-width: 10%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border: 5px solid #918200;
}

/* Content area for the markdown */
.blog-post-content {
  font-size: 16px;
  color: #666;
}

/* Links styling */
.blog-post-content a {
  color: #1a0dab;
  text-decoration: none;
}

.blog-post-content a:hover {
  text-decoration: underline;
}
