/* HomeGalleryView.css */

.home-gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.home-gallery-post {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 197, 255);
  overflow: hidden;
}

.home-gallery-image {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin: 20px;
}

.home-gallery-details {
  display: flex;
  text-align: middle;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  text-wrap: pretty;
}

.home-gallery-title {
  font-size: 24px;
  margin: 0;
}

.home-gallery-name {
  font-size: 16px;
  margin: 0;
}

.home-gallery-artist {
  font-size: 12px;
  margin: 0;
}

.home-gallery-link {
  text-decoration: none;
  color: inherit;
}

.home-gallery-post:hover {
  background-color: rgb(255, 106, 210);
}