/* HomeGalleryView.css */

.home-gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.home-gallery-post {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: purple;
  overflow: hidden;
}

.home-gallery-image {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin: 20px;
}

.home-gallery-title {
  font-size: 24px;
  text-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  text-wrap: pretty;
  line-height: normal;
}

.home-gallery-summary {
  color: #666;
  font-size: 14px;
  text-align: center;
}

.home-gallery-link {
  text-decoration: none;
  color: inherit;
}

.home-gallery-post:hover {
  background-color: pink;
}
