.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid */
  grid-gap: 20px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
}

.blog-post {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items vertically */
  background-color: purple;
}

.blog-post-image {
  width: 100%; /* Makes the image responsive */
  height: auto;
  border-radius: 5px;
}

.blog-post-title {
  color: #333;
  font-size: 18px; /* Adjusted for space */
  margin-top: 10px;
  text-align: center; /* Center align the title */
}

.blog-post-summary {
  color: #666;
  font-size: 14px; /* Smaller font for summary */
  text-align: center; /* Center align the summary */
}

.blog-post-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherit text color from parent elements */
}

.blog-post:hover {
  background-color: pink;
}
/* .blog-post::backdrop */

