/* Style for the Home button container */
.homeButtonContainer {
  background-color: #ffb8f9;
  padding: 1rem; /* Padding around the home button */
  display: flex; /* Using flexbox for alignment */
  justify-content: center; /* Centering content horizontally */
  align-items: center; /* Centering content vertically */
}

/* Style for the Home button itself */
.homeButton {
  background-color: #80aaff;
  color: #000; /* Text color for the button */
  font-size: 1.25rem; /* Larger font size for better visibility */
  padding: 0.75rem 1.5rem; /* Larger padding for a bigger button */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* Removing underline from link */
  /* transition: background-color 0.3s, transform 0.2s;  */
}

.homeButton:hover {
  background-color: #21a1f1; /* Darker shade of blue on hover */
  transform: scale(1.05); /* Slight increase in scale on hover */
}

.navbar {
  background-color: #ffb8f9;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightNav {
  display: flex;
  gap: 3.0rem;
}

.navbar-button {
  background-color: #ffd6fc;
  border: none;
  font-size: 2rem;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.navbar-button:hover {
  background-color: #ff3ceb;
  border-bottom: 3px solid #c928b9;
}

.navbar-button:active {
  border-bottom: 3px solid #c928b9;
}
