.footer {
    background-color: #ffb8f9;
    padding: 1rem;
    text-align: center;
    /* margin-top: 2rem;  */
  }
  
  .footer-link {
    color: #000;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
  .footer-link:hover {
    color: #21a1f1; 
  }
  