.header {
    background-color: #ffb8f9;
    padding: 1rem;
    text-align: center;
    /* border-radius: 8px; */
  }
  
  .header h1 {
    margin: 0;
    color: #000;
    font-size: 2.5rem;
  }
  
  .header-link {
    text-decoration: none;
    color: inherit;
  }
  
  .header-link:hover h1 {
    color: #21a1f1; /* Change the text color on hover */
  }
  