/* HomeGalleryView.css */

.home-gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.home-gallery-post {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 197, 255);
  overflow: hidden;
  transition: filter 0.3s ease;
}

.home-gallery-post:hover {
  filter: brightness(125%);
}

.home-gallery-image {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin: 20px;
  border-width: 4px;
  border-style: solid;
}

.home-gallery-details {
  display: flex;
  text-align: middle;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-start; */
  width: 50%;
  text-wrap: pretty;
}

.home-gallery-title {
  font-size: 24px;
  font-weight: bold;
  filter: dark;
  margin-bottom: 0;
}

.home-gallery-name {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 0;
}

.home-gallery-artist {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}

.home-gallery-link {
  text-decoration: none;
}
